#carouselExampleCaptions .carousel-inner img {
  object-fit: cover;
  object-position: center;
  height: 100vh;
  overflow: hidden;
}
#carouselExampleCaptions .carousel-item::before {
  content: "";
  background-image: linear-gradient(
    to bottom,
    transparent,
    rgba(0, 0, 0, 0.75)
  );
  display: block;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
}
